@model BelarusLib.Models.CompositionsListViewModel
@using BelarusLib.Infastructure

@{
    ViewBag.Title = "Творы";
}

<section>
    <div class="container">
        @if (ViewBag.Genre != null)
        {
            <h2>@ViewBag.Genre</h2>
        }
        else if (ViewBag.SearchResult != null)
        {
            <h2> Результаты поиска: @ViewBag.SearchResult </h2>
        }
        else
        {
            <h2>Творы</h2>
        }
        <hr />

        @foreach (var item in Model.Compositions)
        {
            <div class="block">
                <blockquote class="blockquote">
                    <div class="row">
                        @if (item.CompositionCover != null)
                        {
                            <div class="col-sm-2" style="margin-right: 10px">
                                <img class="img-thumbnail" width="200" height="240" src="data:image/jpeg;base64, @Convert.ToBase64String(item.CompositionCover)" />
                            </div>
                        }
                        <div class="col-md-9">
                            <h3>
                                @Html.ActionLink(item.CompositionName, "Composition", new { id = item.CompositionId })
                            </h3>
                            <p class="mb-0">@item.CompositionDescription</p>
                            <footer class="blockquote-footer">
                                <cite title="Source Title">@item.Author.AuthorFullName</cite>
                            </footer>
                        </div>
                    </div>
                </blockquote>
            </div>
        }
        <div>
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Compositions", new { page = x, GenreId = ViewBag.GenreId, SearchResult = ViewBag.SearchResult }))
        </div>
    </div>
</section>
