<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            @Html.ActionLink("BelarusLib", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span></span><span></span><span></span></button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto align-items-start align-items-lg-center">
                    <li class="nav-item">@Html.ActionLink("Аўтары", "Authors", "Library", new { area = "" },  new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Творы", "Index", "Library", new { area = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Тэсты", "Index", "Test", new { area = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Аб праекце", "About", "Home", new { area = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Дапамога", "Help", "Home", new { area = "" }, htmlAttributes: new { @class = "nav-link" })</li>
                </ul>                
                @Html.Partial("_LoginPartial")
            </div>
        </nav>
    </header>    
    <div>
        @RenderBody()
        <hr />
        <footer>
            <div class="copyrights">
                <p class="text-center">&copy; @DateTime.Now.Year – BelarusLib</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
