@using Microsoft.AspNet.Identity
<div class="navbar-text">
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()


            if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Панэль адміністратара", "Index", "Admin", routeValues: null, htmlAttributes: new { @class = "butn butn-primary navbar-butn butn-shadow butn-gradient" })
            }
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "butn butn-primary navbar-butn butn-shadow butn-gradient" })

            <a href="javascript:document.getElementById('logoutForm').submit()" class="butn butn-outline-primary">Выйсці</a>
        }
    }
    else
    {
        @Html.ActionLink("Регiстрацыя", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "butn butn-outline-primary" })
        @Html.ActionLink("Уваход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "butn butn-primary navbar-butn butn-shadow butn-gradient" })
    }
</div>
