@model BelarusLib.Models.Author

@{
    ViewBag.Title = Model.AuthorFullName;
}

<br />

<div class="row">
    <div class="col-sm-8">
        <div align="center"><img class="thumbnail" src="data:image/jpeg;base64, @Convert.ToBase64String(Model.AuthorPhoto)" /></div>
        <br />
        <h3>Біяграфія:</h3>
        <p>@Model.AuthorBiography</p>
    </div>
    <div class="col-sm-4">
        <h1>@Model.AuthorFullName</h1>
        <h2>
            Дата нараджэння: @Model.AuthorBirthDate.ToShortDateString()
        </h2>
        @if (Model.AuthorBirthDeath != null)
        {
            <h2>Дата смерці: @Model.AuthorBirthDeath.Value.ToShortDateString()</h2>
        }
        <h2>Место рождения: @Model.AuthorBirthPlace</h2>
    </div>
</div>

<h3>Творы</h3>

<div class="row panel">
    @foreach (var item in Model.Compositions)
    {
        <div class="well">
            @if (item.CompositionCover != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="75" height="89" src="data:image/jpeg;base64, @Convert.ToBase64String(item.CompositionCover)" />
                </div>
            }
            <h3>
                <strong>@Html.ActionLink(item.CompositionName, "Composition", new { id = item.CompositionId })</strong>                
            </h3>
            <span class="lead">@item.CompositionDescription</span>            
        </div>
    }

</div>
