@model BelarusLib.Models.Composition
@using BelarusLib.Models

@{
    ViewBag.Title = "Твор";
}

<section>
    <div class="container">
        <h2>Твор</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CompositionName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompositionName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompositionCover)
                </dt>

                @if (Model.CompositionCover != null)
                {
                    <dd>
                        @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.CompositionCover) + "\" />")
                    </dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.AuthorId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author.AuthorFullName)
                </dd>

                <dt>
                    @Html.DisplayName("Жанры")
                </dt>

                <dd>
                    <ul>
                        @foreach (Genre g in Model.Genres)
                        {
                            <li>@g.GenreName</li>
                        }
                    </ul>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompositionDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompositionDescription)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CompositionLink)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CompositionLink)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Рэдагаваць", "EditComposition", new { id = Model.CompositionId }, htmlAttributes: new { @class = "btn btn-dark" })
            @Html.ActionLink("Назад", "GetComposition", htmlAttributes: new { @class = "btn btn-dark" })
        </p>
    </div>
</section>

