@model BelarusLib.Models.Video

@{
    ViewBag.Title = "Відэазапіс";
}

<section>
    <div class="container">
        <h2>Відэазапіс</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.VideoName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VideoName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AuthorId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Author.AuthorFullName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.VideoLink)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VideoLink)
                </dd>

                <dt>

                </dt>

                <dd>
                    <iframe width="560" height="315" src=@Model.VideoLink frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Рэдагаваць", "EditVideo", new { id = Model.VideoId }, htmlAttributes: new { @class = "btn btn-dark" })
            @Html.ActionLink("Назад", "GetVideo", "Admin", htmlAttributes: new { @class = "btn btn-dark" })
        </p>
    </div>
</section>

