@model IEnumerable<BelarusLib.Models.Author>

@{
    ViewBag.Title = "GetAuthor";
}

<h2>GetAuthor</h2>

<p>
    @Html.ActionLink("Create New", "CreateAuthor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorBirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorBirthDeath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorBirthPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorBiography)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorBirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorBirthDeath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorBirthPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorBiography)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCreateAuthor", new { id=item.AuthorId }) |
            @Html.ActionLink("Details", "DetailsCreateAuthor", new { id=item.AuthorId }) |
            @Html.ActionLink("Delete", "DeleteCreateAuthor", new { id=item.AuthorId })
        </td>
    </tr>
}

</table>
