@model IEnumerable<BelarusLib.Models.Author>

@{
    ViewBag.Title = "GetAuthor";
}

<h2>GetAuthor</h2>

<p>
    @Html.ActionLink("Create New", "CreateAuthor")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFullName)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFullName)
        </td>        
        <td>
            @Html.ActionLink("Edit", "EditAuthor", new { id=item.AuthorId }) |
            @Html.ActionLink("Details", "DetailsAuthor", new { id=item.AuthorId }) |
            @Html.ActionLink("Delete", "DeleteAuthor", new { id=item.AuthorId })
        </td>
    </tr>
}

</table>
