@model IEnumerable<BelarusLib.Models.Genre>

@{
    ViewBag.Title = "GetGenre";
}

<h2>GetGenre</h2>

<p>
    @Html.ActionLink("Create New", "CreateGenre")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GenreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenreDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GenreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenreDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditGenre", new { id=item.GenreId }) |            
            @Html.ActionLink("Delete", "DeleteGenre", new { id=item.GenreId })
        </td>
    </tr>
}

</table>
