@model IEnumerable<BelarusLib.Models.Quiz>

@{
    ViewBag.Title = "Тэсты";
}

<section>
    <div class="container">
        <h2>Тэсты</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuizName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuizDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuizDescription)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuizDescription)
                    </td>
                    <td>
                        @Html.ActionLink("Рэдагаваць", "EditQuiz", new { id = item.QuizId }) |
                        @Html.ActionLink("Больш падрабязна", "DetailsQuiz", new { id = item.QuizId }) |
                        @Html.ActionLink("Выдаліць", "DeleteQuiz", new { id = item.QuizId })
                    </td>
                </tr>
            }

        </table>

        <p>
            <a class="btn btn-dark" href=@Url.Action("Index")>Назад</a>
        </p>
    </div>
</section>

