@model IEnumerable<BelarusLib.Models.TypeComposition>

@{
    ViewBag.Title = "Тыпы твораў";
}

<h2>Тыпы твораў</h2>

<p>
    @Html.ActionLink("Стварыць", "CreateTypeComposition")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeCompositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeCompositionDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeCompositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeCompositionDescription)
        </td>
        <td>
            @Html.ActionLink("Рэдагаваць", "EditTypeComposition", new { id=item.TypeCompositionId }) |            
            @Html.ActionLink("Выдалiць", "DeleteTypeComposition", new { id=item.TypeCompositionId })
        </td>
    </tr>
}

</table>
