@{
    ViewBag.Title = "Панэль адміністратара";
}

<h2>Панэль адміністратара</h2>
<hr />
<div class="col-md-12">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Данные о пользователях</div>
                <div class="panel-body">
                    <div class="list-group">
                        @Html.ActionLink("Роли", "GetRole", "Admin", new { @class = "list-group-item" })
                        @Html.ActionLink("Пользователи", "GetUser", "Admin", new { @class = "list-group-item" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Бібліятэка</div>
                <div class="panel-body">
                    <div class="list-group">
                        @Html.ActionLink("Аўтары", "GetAuthor", "Admin", new { @class = "list-group-item" })
                        @Html.ActionLink("Жанры", "GetGenre", "Admin", new { @class = "list-group-item" })
                        @Html.ActionLink("Творы", "GetComposition", "Admin", new { @class = "list-group-item" })
                        @Html.ActionLink("Тыпы твораў", "GetTypeComposition", "Admin", new { @class = "list-group-item" })
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>