@model IEnumerable<BelarusLib.Models.Result>

@{
    ViewBag.Title = "Вынікі тэсту";
}

<section>
    <div class="btn btn-dark">
        <h2>Вынікі тэсту: @ViewBag.Name</h2>

        <hr />

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Лагiн")
                </th>
                <th>
                    @Html.DisplayName("Імя")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultScore)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResultDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResultScore)
                    </td>
                </tr>
            }
        </table>

        <p>
            <a class="btn btn-dark" href=@Url.Action("DetailsQuiz", new { id = ViewBag.Id})>Назад</a>
        </p>
    </div>
</section>

